{% extends 'layout.html' %}
{% block title %}Classify{% endblock %}

{% block content %}
<div class="large-4 small-5 columns">
    <a class="button" id="is_review">Review (y)</a>
</div>
<div class="large-4 small-1 columns">
    &nbsp;
</div>
<div class="large-4 small-6 columns">
    <a class="button" id="is_comment">Comment (n)</a>
</div>

<div class="small-12 columns">
    <div id="comment" data-id='loading'>
        <h2><a id="title"></a></h2> <span class="by"> by </span>  
        <a id="author"></a>
        <div id="text"></div>
    </div>
</div>
{% endblock %}
