<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} | ReviewData</title>
    {% endblock %}
</head>
<body>
    <div class="row" id="header">
        <div class="columns medium-5 small-12">
            <h1><a href="{{ url_for('index') }}">ReviewData</a></h1>
        </div>
        <div class="columns medium-7 small-12">
            <ul id="nav">
                
                {% if name %}
                    <li>
                        Welcome,
                        <a href="{{ url_for('classify') }}">{{ name }}</a>!
                        {% if numbers %}
                        (
                            <span class="number_reviews">{{ numbers['reviews'] }}</span> - 
                            <span class="number_total">{{ numbers['total'] }}</span>
                        )
                        {% else %}
                            <a href="{{ url_for('logout') }}">logout</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        <a class="user" href="{{ auth_url }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="content" class="row">
        {% block content %}{% endblock %}
    </div>
    </div>
</body>
