<!doctype html>
<html>
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} | ReviewData</title>
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="header">
            <h1><a href="{{ url_for('index') }}">ReviewData</a></h1>
            <ul id="nav">
                
                {% if name %}
                    <li>
                        <span class="user">Welcome back,
                            <a href="{{ url_for('classify') }}">{{ name }}</a>
                        ! (<a href="{{ url_for('logout') }}">logout</a>)
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a class="user" href="{{ auth_url }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
